@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
}

.custom-nav .navbar-brand img {
  width: 18px;
  height: 18px;
  margin-top: -3px;
}

.custom-nav .navbar-brand span {
  color: #142333;
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 0.3em;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #142333;
  font-weight: 500;
  margin-left: 2.4em;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #005fea;
}

.custom-nav #navbarNav .navbar-nav .nav-item .contact-us {
  color: #1fa5f8;
}

@media screen and (max-width: 992px) {
  .custom-nav #navbarNav {
    text-align: center;
  }
}

.custom-section {
  margin-top: 10vmax;
  background: url(../img/bg.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 55vmax;
  height: 650px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-section .teks h2 {
  font-weight: 800;
  font-size: 4rem;
  color: #142333;
  white-space: nowrap;
  line-height: 0.8;
}

.custom-section .teks h3 {
  font-weight: 500;
  font-size: 3.5rem;
  color: #1fa5f8;
  line-height: 0.8;
}

.custom-section .teks p {
  color: #142333;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 2.1em;
}

.custom-section .teks a {
  display: inline-block;
  color: white;
  background-color: #1fa5f8;
  border-radius: 2em;
  padding: 0.5em 2em;
  text-decoration: none;
  margin-top: 2.2em;
  border: 2px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.custom-section .teks a:hover {
  color: #005fea;
  border: 2px solid #1fa5f8;
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .custom-section {
    margin-top: 11vmax;
    background-size: 49vmax;
    height: 450px;
  }
}

@media screen and (max-width: 992px) {
  .custom-section {
    background-position: top center;
    background-size: 51vmax;
    margin-top: 13vmax;
    text-align: center;
  }
  .custom-section .teks {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -9vmax;
    height: 380px;
  }
  .custom-section .teks h2 {
    margin-top: 8vmax;
  }
  .custom-section .teks h2,
  .custom-section .teks h3,
  .custom-section .teks p {
    text-shadow: 1px 1px 1px rgba(20, 35, 51, 0.4);
  }
  .custom-section .teks a {
    margin-top: 3.5em;
    margin-bottom: 0.5em;
  }
}

#about {
  margin-top: 6vmax;
  text-align: center;
}

#about h1 {
  padding-top: 3.5em;
  font-weight: 600;
  background: #005fea;
  background: -webkit-gradient(linear, left top, right top, from(#142333), to(#005fea));
  background: linear-gradient(to right, #142333, #005fea);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#about .ide {
  margin-top: 3em;
}

#about .ide .col {
  margin: 2rem;
  padding: 1em 2.5em;
  border-radius: 1.5rem;
  border: 2px solid #005fea;
}

#about .ide .col:hover {
  -webkit-box-shadow: 5px 5px #1fa5f8;
          box-shadow: 5px 5px #1fa5f8;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

#about .ide .col img {
  width: 100%;
}

#about .ide .col p {
  color: #142333;
  font-size: 0.9rem;
  font-weight: 500;
}

#about .quotes {
  margin-top: 2em;
  font-size: 2rem;
  font-weight: 500;
  background: #005fea;
  background: -webkit-gradient(linear, left top, right top, from(#142333), to(#005fea));
  background: linear-gradient(to right, #142333, #005fea);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#about a {
  display: inline-block;
  color: white;
  background-color: #1fa5f8;
  border-radius: 2em;
  padding: 0.5em 2em;
  text-decoration: none;
  margin-top: 1em;
  border: 2px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#about a:hover {
  color: #005fea;
  border: 2px solid #1fa5f8;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  #about a {
    padding: 0.2em 1em;
  }
}

@media screen and (max-width: 1200px) {
  #about {
    margin-top: -7vmax;
  }
}

@media screen and (max-width: 992px) {
  #about {
    margin-top: -10vmax;
  }
}

#work {
  margin-top: 7.5vmax;
}

#work .scrum {
  padding-top: 4em;
}

#work .scrum img {
  width: 100%;
}

#work .scrum .desc {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#work .scrum .desc h2 {
  font-weight: 600;
  background: #005fea;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #b68500), to(#fdc72f));
  background: linear-gradient(to right, #b68500 30%, #fdc72f);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#work .scrum .desc p {
  padding-top: 0.5em;
  text-align: justify;
  color: #142333;
  font-weight: 500;
}

#work .scrum .desc a {
  display: inline-block;
  color: white;
  background-color: #fdc72f;
  border-radius: 2em;
  padding: 0.5em 2em;
  text-decoration: none;
  margin-top: 0.5em;
  border: 2px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-weight: 600;
  margin-bottom: 1.5em;
}

#work .scrum .desc a:hover {
  color: #fdc72f;
  border: 2px solid #fdc72f;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  #work .scrum .desc {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #work .scrum .desc p {
    text-align: center;
    margin: 1em 1em;
  }
}

#work .why {
  padding-top: 0.1em;
}

#work .why .prof {
  margin: 2rem;
  padding: 1em 1.5em;
  border-radius: 1.5rem;
  border: 1px solid #fdc72f;
  -webkit-box-shadow: 2px 2px #fdc72f;
          box-shadow: 2px 2px #fdc72f;
  text-align: center;
}

#work .why .prof h1 {
  background: #005fea;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #b68500), to(#fdc72f));
  background: linear-gradient(to right, #b68500 30%, #fdc72f);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 5em;
  font-weight: 600;
  font-family: arial;
  margin-bottom: -13px;
  quotes: "“" "”" "‘" "’";
}

#work .why .prof h1:before {
  content: open-quote;
}

#work .why .prof p {
  color: #142333;
  font-style: italic;
  font-size: 0.9rem;
}

#work .why .prof h2 {
  background: #005fea;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #b68500), to(#fdc72f));
  background: linear-gradient(to right, #b68500 30%, #fdc72f);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1.5em;
}

#work .why .prof h3 {
  color: #b68500;
  font-size: 1em;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  #work .why .prof {
    margin: 0;
  }
}

#work .why .reason {
  margin-top: 2rem;
}

#work .why .reason marquee {
  padding: 0.5rem;
}

#work .why .reason marquee img {
  max-width: 4.5rem;
  margin-right: 2.5rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#work .why .reason .method {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2rem;
  height: 14em;
  color: #b68500;
  font-size: 1.3rem;
}

#work .why .reason .method i {
  background: #005fea;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #b68500), to(#fdc72f));
  background: linear-gradient(to right, #b68500 30%, #fdc72f);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2.5em;
  margin-bottom: 15px;
}

#work .why .reason .method p {
  font-size: 1rem;
  color: #142333;
  margin-top: 7px;
  list-style-type: none;
}

#info {
  margin-top: 4vmax;
  margin-bottom: 1vmax;
}

#info .hiring {
  padding-top: 7em;
}

#info .hiring .rec {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#info .hiring .rec h1 {
  background: #005fea;
  background: -webkit-gradient(linear, left top, right top, from(#142333), to(#005fea));
  background: linear-gradient(to right, #142333, #005fea);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#info .hiring .rec p {
  color: #005fea;
}

#info .hiring .rec ul {
  margin-left: -0.8em;
}

#info .hiring .rec ul .yes {
  max-width: 1.2em;
  float: right;
}

#info .hiring img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  #info .hiring {
    padding-top: 40vmax;
  }
  #info .hiring .rec {
    padding: 2em 2em;
  }
  #info .hiring .rec h1, #info .hiring .rec h5 {
    text-align: center;
  }
  #info .hiring .rec h5 {
    margin-bottom: 1em;
  }
}

#contact {
  margin: 2em;
}

#contact .form {
  background-color: #EEF0F1;
}

#contact .general {
  background-color: #1fa5f8;
}
/*# sourceMappingURL=main.css.map */