// Mixin
@mixin tombol {
   display: inline-block;
   color: white;
   background-color: $tertiaryColor;
   border-radius: 2em;
   padding: 0.5em 2em;
   text-decoration: none;
}

@mixin gradientBlue {
   background: $primaryColor;
   background: -webkit-linear-gradient(to right, $textColor, $primaryColor);
   background: linear-gradient(to right, $textColor, $primaryColor);
}