@import 'fonts';
@import 'variables';
@import 'mixins';

// Styles
body {
   font-family: 'Montserrat', sans-serif;
}

// Navigation / navbar
.custom-nav {
   .navbar-brand {
      img {
         width: 18px;
         height: 18px;
         margin-top: -3px;
      }
      span {
         color: $textColor;
         font-weight: 700;
         font-size: 1.4rem;
         margin-left: 0.3em;
      }
   }

   #navbarNav {
      .navbar-nav {
         .nav-item {
            .nav-link {
               color: $textColor;
               font-weight: 500;
               margin-left: 2.4em;
               transition: 0.3s color ease;

               &:hover {
                  color: $primaryColor;
               }
            }
            .contact-us {
               color: $tertiaryColor;
            }
         }
      }

      @media screen and (max-width: 992px) {
         text-align: center;
      }
   }
}

// custom section
.custom-section {
   margin-top: 10vmax;
   background: url(../img/bg.png);
   background-position: top right;
   background-repeat: no-repeat;
   background-size: 55vmax;
   height: 650px;
   align-items: center;

   .teks {
      h2 {
         font-weight: 800;
         font-size: 4rem;
         color: $textColor;
         white-space: nowrap;
         line-height: 0.8;
      }

      h3 {
         font-weight: 500;
         font-size: 3.5rem;
         color: $tertiaryColor;
         line-height: 0.8;
      }

      p {
         color: $textColor;
         font-size: 1rem;
         font-weight: 600;
         margin-top: 1em;
      }

      a {
         @include tombol;
         margin-top: 1em;
         border: 2px solid transparent;
         transition: 0.5s ease;
         font-weight: 600;

         i {
            margin-top: 6px;
         }

         &:hover {
            color: $primaryColor;
            border: 2px solid $tertiaryColor;
            background-color: transparent;
         }
      }
   }

   @media screen and (max-width: 1200px) {
      margin-top: 11vmax;
      background-size: 49vmax;
      height: 450px;
   }

   @media screen and (max-width: 992px) {
      background-position: top center;
      background-size: 51vmax;
      margin-top: 13vmax;
      text-align: center;

      .teks {
         background: rgba(255, 255, 255, 0.5);
         margin-top: -9vmax;
         height: 380px;

         h2 {
            margin-top: 8vmax;
         }

         h2,
         h3,
         p {
            text-shadow: 1px 1px 1px rgba($textColor, 0.4);
         }
         a{
            margin-top: 3.5em;
            margin-bottom: 0.5em;
         }
      }
   }
}

#about {
   margin-top: 0.3vmax;
   text-align: center;
   
   h1 {
      @include h1Blue;
   }

   .ide {
      margin-top: 3em;

      .col {
         margin: 2rem;
         padding: 1em 2.5em;
         border-radius: 1.5rem;
         border: 2px solid $primaryColor;

         &:hover {
            box-shadow: 5px 5px $tertiaryColor;
            transition: 0.5s all ease-out;
         }

         img {
            width: 100%;
         }

         p {
            color: $textColor;
            font-size: 0.9rem;
            font-weight: 500;
         }
      }
   }

   .quotes {
      margin-top: 2em;
      font-size: 2rem;
      font-weight: 500;
      @include gradientBlue;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
   }

   a {
      @include tombol;
      margin-top: 1em;
      border: 2px solid transparent;
      transition: 0.5s ease;
         
      &:hover {
         color: $primaryColor;
         border: 2px solid $tertiaryColor;
         background-color: transparent;
      }

      @media screen and (max-width: 992px) {
         padding: 0.2em 1em;
      }
   }

   @media screen and (max-width: 1200px) {
      margin-top: -7vmax;
   }

   @media screen and (max-width: 992px) {
      margin-top: -10vmax;
   }
}

#work {
   margin-top: 2.5vmax;

   .scrum {
      padding-top: 4em;

      img {
         width: 100%;
      }

      .desc {
         align-self: center;
         h2 {
            font-weight: 600;
            @include gradientYellow();
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
         }

         p {
            padding-top: 0.5em;
            text-align: justify;
            color: $textColor;
            font-weight: 500;
         }

         a {
            @include tombolKuning;
            margin-top: 0.5em;
            border: 2px solid transparent;
            transition: 0.5s ease;
            font-weight: 600;
            margin-bottom: 1.5em;

            i {
               margin-top: 3px;
            }

            &:hover {
               color: $secondaryColor;
               border: 2px solid $secondaryColor;
               background-color: transparent;
            }
         }
         @media screen and (max-width: 992px) {
            text-align: center;
            align-content: center;

            p {
               text-align: center;
               margin: 1em 1em;
            }
         }
      }
   }

   .why {
      padding-top: 0.1em;

      .prof {
         margin: 2rem;
         padding: 1em 1.5em;
         border-radius: 1.5rem;
         border: 1px solid $secondaryColor;
         box-shadow: 2px 2px $secondaryColor;
         text-align: center;

         h1 {
            @include gradientYellow();
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            font-size: 5em;
            font-weight: 600;
            font-family: arial;
            margin-bottom: -13px;
            quotes: "“""”""‘""’";
            &:before {
               content: open-quote;
            }
         }

         p {
            color: $textColor;
            font-style: italic;
            font-size: 0.9rem;
         }

         h2 {
            @include gradientYellow();
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            font-size: 1.5em;
            font-weight: 700;
            margin-top: 1.5em;
         }

         h3 {
            color: #b68500;
            font-size: 1em;
            font-weight: 500;
         }

         @media screen and (max-width: 992px) {
            margin: 0;
         }
      }

      .reason {
         margin-top: 2rem;
         marquee {
            // border-top: 2px solid $subColor;
            // border-bottom: 2px solid $subColor;
            padding: 0.5rem;
            img {
               max-width: 4.5rem;
               margin-right: 2.5rem;
               -webkit-filter: grayscale(100%);
               filter: grayscale(100%);
            }
         }

         .method {
            align-items: center;
            text-align: center;
            padding: 2rem;
            height: 14em;
            color: #b68500;
            font-size: 1.3rem;

            i {
               @include gradientYellow();
               -webkit-background-clip: text;
               -moz-background-clip: text;
               -webkit-text-fill-color: transparent;
               -moz-text-fill-color: transparent;
               font-size: 2.5em;
               margin-bottom: 15px;
            }

            p {
               font-size: 1rem;
               color: $textColor;
               margin-top: 7px;
               list-style-type: none;
            }
         }
      }
   }
}

#info {
   margin-top: -2vmax;
   margin-bottom: 1vmax;

   .hiring {
      margin: 0.5rem;
      padding-top: 7em;

      .rec {
         align-self: center;
         h1 {
            @include gradientBlue;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
         }
         p {
            color: $primaryColor;
         }
         ul {
            margin-left: -0.8em;
            .yes {
               max-width: 1.2em;
               float: right;
            }
         }
      }

      img {
         width: 100%;
      }

      @media screen and (max-width: 992px) {
         padding-top: 40vmax;
         .rec {
            padding: 2em 2em;
            h1, h5 {
               text-align: center;
            }
            h5 {
               margin-bottom: 1em;
            }
         }
      }
   }
}

#contact {
   margin-top: 1vmax;
   margin-bottom: 1vmax;

   .contactus {
      margin: 1.2rem;
      padding-top: 7em;

      h1 {
         text-align: center;
         margin-bottom: 1em;
         @include gradientBlue;
         -webkit-background-clip: text;
         -moz-background-clip: text;
         -webkit-text-fill-color: transparent;
         -moz-text-fill-color: transparent;
      }

      .form-contact {
         padding: 2.5em 2.5em;
         border-radius: 1.5rem;
         border: 2px solid $primaryColor;

         h4 {
            margin-bottom: 0.5em;
            color: $primaryColor;
         }

         .send {
            padding: 0.5em 1.5em;
            .fa-arrow-alt-circle-right {
               margin-left: 0.3em;
            }
         }
      }
   
      .general {
         .email {
            padding: 2em 2em;
            border-radius: 1.5rem;
            text-align: center;
            color: white;
            margin-left: 1.5rem;
            background-color: $tertiaryColor;

            i {
               font-size: 2.5em;
            }

            h3 {
               margin-top: 1.2rem;
               font-weight: 700;
               font-size: 1.5rem;
            }

            h5 {
               font-size: 1.2rem;
            }

            @media screen and (max-width: 992px) {
               margin-left: 0;
               margin-top: 1.5rem;
            }
         }

         .personal {
            padding: 2em 2em;
            margin-left: 1.5rem;
            margin-top: 1.5rem;
            border-radius: 1.5rem;
            border: 2px solid $primaryColor;

            @media screen and (max-width: 992px) {
               margin-left: 0;
            }
         }
      }
   }
}

footer {
   color: $primaryColor;
   margin-top: 4rem;
   margin-bottom: 1rem;

   .brd {
   text-align: right;
      .brand {
         color: $primaryColor;
         font-weight: 700;
         font-size: 1.6rem;
         text-transform: uppercase;
         text-decoration: none;
         margin-left: 0.3em;
      }
   }

   .website_rights {
      text-align: center;
      font-size: 1.2rem;

      .rights {
         margin-top: 6px;
      }
   }

   .social_icons {
      font-size: 1.6rem;
   }

   @media screen and (max-width: 992px) {
      .brd {
         text-align: center;
      }

      .social_icons {
         text-align: center;
      }
   }
}

#back-to-top-btn {
   display: none;
   position: fixed;
   bottom: 30px;
   right: 30px;
   width: 50px;
   height: 50px;
   font-size: large;
   background-color: $tertiaryColor;
   cursor: pointer;
   outline: none;
   box-shadow: 0 0 10px rgba(56, 56, 56, 0.5);
   color: #ffffff;
   border: none;
   border-radius: 50%;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
   transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
   background-color: $primaryColor;
   color: #fff;
}

.btnEntrance {
   animation-duration: 0.5s;
   animation-fill-mode: both;
   animation-name: btnEntrance;
}

@keyframes btnEntrance {
   from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
   }

   to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}

.btnExit {
   animation-duration: 0.25s;
   animation-fill-mode: both;
   animation-name: btnExit;
}

@keyframes btnExit {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
   }
}

@media screen and (max-width: 460px) {
   #back-to-top-btn {
      bottom: 25px;
      right: 15px;
      width: 40px;
      height: 40px;
      font-size: small;
   }
}